@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
} 

:root{
    --grad1: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    --clr1: #fefefe;
    --clr-secondary: #383b42;;
}



html{
    font-family: poppins;
}

/* HELPERS */
.clear-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.full{
    width: 100%;
}
/* FLEX SUBCLASSES */
.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.flex.align-center{
    align-items: center;
}

.flex.align-end{
    align-items:flex-end;
}

.flex.space-around{
    justify-content: space-around;
}


/* GRID HELPERS */

.grid{
    display: grid;
}

/* MAIN */
body{
    background-color: #22252c;
}
/* HEADER */

.header-nav{
    font-family: poppins;
    font-size: 1.5em;
    border-radius: 37px;
    background: var(--grad1);
}

.logo{
    color: var(--clr1);
    text-decoration: #fefefe underline;
}

.page-link{
    border-radius: 20px;
    margin-inline: 0.2em;
    padding: 0.1em 0.9em;
    color: var(--clr1);
    background-color: transparent;
    cursor: pointer;
}

.page-link.selected{
    background-color: var(--clr1);
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    color: #21ac91;
    
}

/* GALLERY MAIN CONTENT */

.main-content{
    border-radius: 10px;
    background-color: #383b42;
}
.main-nav{
    height: 3em;
}

.keyword-links{
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fefefe59;
    /* opacity: 0.4; */
}

.keyword-links > *{
    color: var(--clr1);
    /* opacity: 1; */
    margin-inline: 0.4em;
}
.main-gallery{
    margin-inline: auto;
    padding: 1em;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    max-width: 980px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 270px;
    grid-gap: 1em;
}

.main-gallery > a > *{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





/* EDITOR MAIN */

.editor{
    margin: auto;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;
}