@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
} 

@font-face {
    font-family: indie;
    src: url(../fonts/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

:root{
    --grad1: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    --grad2: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    --clr-1: #fefefe;
    --clr-delete: #cf1d37;
    --clr-add: #42eb5c;
    --clr-primary:#40b1ce;
    --clr-secondary: #383b42;
    --box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}



html{
    font-family: poppins;
}

/*  COMPONENTS */
.btn{
    height: 2em;
    padding-inline: 1em;
    font-size: 1.5em;
    border: none;
    box-shadow: --var(box-shadow);
    border-radius: 28px;
    color: var(--clr-1);
    background: var(--grad1);
    cursor: pointer;
}


.clear-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.full{
    width: 100%;
}
/* FLEX SUBCLASSES */
.flex{
    display: flex;
}

.flex.wrap{
    flex-wrap: wrap;
}

.flex.column{
    flex-direction: column;
}

.flex.justify-center{
    justify-content: center;
}

.flex.align-center{
    align-items: center;
}

.flex.align-end{
    align-items:flex-end;
}

.flex.space-between{
    justify-content: space-between;
}

.flex.space-around{
    justify-content: space-around;
}

.flex.space-evenly{
    justify-content: space-evenly;
}


/* GRID HELPERS */

.grid{
    display: grid;
}

/* MAIN */
body{
    background-color: #22252c;
}
/* HEADER */
header{
    background: var(--grad1);
    border-radius: 37px;
    margin-block-end: 1em;
}
.header-nav{
    max-width: 1240px;
    margin-inline: auto;
    font-family: poppins;
    font-size: 1.5em;
}

.logo{
    margin-inline: 0.2em;
    color: var(--clr-1);
    text-decoration: #fefefe underline;
}

.page-link{
    margin-inline: 0.2em;
    border-radius: 20px;
    padding: 0.1em 0.9em;
    color: var(--clr-1);
    background-color: transparent;
    cursor: pointer;
}

.page-link.selected{
    background-color: var(--clr-1);
    box-shadow: var(--box-shadow);
    color: #21ac91;
    
}

/* GALLERY MAIN CONTENT */

.main-content{
    margin: auto;
    border-radius: 10px;
    background-color: var(--clr-secondary);
    max-width: 1240px;
}
.main-nav{
    width: 90%;
    gap: 1em;
    margin-top: 1em;
    margin-inline: auto;
}

.text-input{
    border-radius: 2em;
    background-color: #22252c;
    height: 2em;
    width: 26.5em;
    font-size: 1.6em;
    padding-inline-start: 1em;
    color: var(--clr-1);
    font-weight: 600;
}


.random-meme{
    background: var(--grad2);
}

.keyword-links{
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    background-color: #fefefe59;
}

.keyword-links > *{
    color: var(--clr-1);
    margin-inline: 0.2em;
    cursor: pointer;
}

.more option{
    background-color: #33be6d;
}
.main-gallery{
    padding: 1em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 270px;
    grid-gap: 1em;
}

.gallery-item{
    border-radius:1.5em;
    width: 100%;
    height: 100%;
    object-fit: contain;
}





/* EDITOR MAIN */
.canvas-container{
    width: 50%;
    aspect-ratio: 1/1;
}
canvas{
    /* cursor: grab; */
}
canvas.grab{
    /* cursor: grabbing; */
}

.editor{
    gap:1em;
}
.pallete{
    position: relative;
}

.pallete input{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.controllers{
    height: max-content;
    gap: 1em;
    padding-inline: 3em;
    padding-block: 1.5em;
    border-radius: 30px;
    background-color: #ebeef318;
}

.line-text{
    border: none;
    width: 100%;
    height: 3rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 1.525em;
    background-color: #ebeef3;
    text-align: center;
    font-size: 1.5em;
}

.line-controls{
    gap:1em;
}
.text-controls{
    background-color: #19a59f;
    padding: 1em;
    border-radius: 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.text-controls select{
    width: 100%;
    grid-column: 1/4;
    height: 3rem;
    font-size: 1.5em;
}

.btn-editor{
    width: 3.5em;
    height: 3.5em;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.829);
}

.color-add{
    background-color: var(--clr-add);
}

.color-primary{
    background-color: var(--clr-primary);
}

.color-delete{
    background-color: var(--clr-delete);
}

.icon-white{
    filter: invert(100%) sepia(0%) saturate(7442%) hue-rotate(309deg) brightness(106%) contrast(98%);
}

.special-controls{
    background-color: #fff;
    border: none;
    width: 100%;
    border-radius: 1.525em;
}

.special-controls > *{
    max-height: 7em;
    max-width: 7em;
    object-fit: contain;
}

.special-controls > .btn{
    height: 100%;
    background: var(--grad2);
    border-radius: 1em;
    transition: 0.2s;
}
.special-controls > .btn:hover{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(127, 128, 224) 0%, rgb(156, 221, 245) 100.2%);
}
/* HELPERS */
.hidden{
    display: none;
}