    
/* HELPERS */
.clear-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.full{
    width: 100%;
}
/* FLEX SUBCLASSES */
.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.flex.align-center{
    align-items: center;
}

.flex.align-end{
    align-items:flex-end;
}

.flex.space-around{
    justify-content: space-around;
}


/* GRID HELPERS */

.grid{
    display: grid;
}

/* HEADER */

header{
    /* background-color: aqua; */
    
}
nav{
    background-color: blueviolet;
}

/* GALLERY MAIN CONTENT */

main{

}
.main-nav{
    background-color: brown;
    height: 3em;
}

.keyword-links > *{
    margin-inline: 0.4em;
}
.main-gallery{
    margin-inline: auto;
    padding: 1em;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    max-width: 980px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 270px;
    grid-gap: 1em;
}

.main-gallery > *{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





/* EDITOR MAIN */

.editor{
    margin: auto;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;
}